[user]
  name = JaySanSen 
  email = 183524427+JaySanSen@users.noreply.github.com
  signingkey = FA10D62727198FA8
[commit]
  gpgsign = true
  template = ~/.gitmessage.txt
[tag]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[fetch]
  prune = true
  pruneTags = true
  all = true
[init]
  defaultBranch = main
[status]
  showUntrackedFiles = all
[diff]
  algorithm = histogram
[push]
  default = simple
  autoSetupRemote = true
