set scrolloff=8
set number
set relativenumber
let mapleader = ' '

inoremap <A-;> <Esc>
vnoremap <A-;> <Esc>
inoremap jk <Esc>
vnoremap nn <Esc>

set incsearch
set hlsearch
set ignorecase
set smartcase

set clipboard^=unnamedplus,unnamed
set highlightedyank
let g:highlightedyank_highlight_duration = 200
let g:highlightedyank_highlight_color = "rgba(130,133,232,255)"

set matchpairs+=<:>
set history=1000
set visualbell
set noerrorbells
set ideajoin

noremap U <C-r>
map Q gq
xnoremap p P

map <A-j> <Action>(MoveLineDown)
map <A-k> <Action>(MoveLineUp)
nmap <leader>mj <Action>(MoveLineDown)
nmap <leader>mk <Action>(MoveLineUp)

map <C-h> <C-w>h
map <C-l> <C-w>l
map <C-k> <C-w>k
map <C-j> <C-w>j

map <A-h> <C-w>h
map <A-l> <C-w>l
map <A-k> <C-w>k
map <A-i> <C-w>j

map <A-i> <Action>(StretchSplitToRight)
map <A-d> <Action>(StretchSplitToLeft)

map <leader>sv <Action>(SplitVertically)
map <leader>sd <Action>(SplitHorizontally)
map <leader>sh <Action>(SplitHorizontally)
map <leader>us <Action>(Unsplit)
map <leader>cs <Action>(CloseAllEditorsButActive)

map <leader>gf <Action>(Forward)
map <leader>gb <Action>(Back)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>gr <Action>(FindUsages)
map <leader>gh <Action>(ShowHoverInfo)
map <leader>gt <Action>(GotoTypeDeclaration)
map <leader>gtc <Action>(GotoTest)
map <leader>gp <Action>(GotoPreviousError)
map <leader>gn <Action>(GotoNextError)

map <leader>ff <Action>(GotoFile)
map <leader>es <Action>(FileStructurePopup)
map <leader>ws <Action>(GotoSymbol)
map <A-o> <Action>(RecentFiles)
map <A-s> <Action>(FindInPath)

map <leader>fd <Action>(ReformatCode)
map <leader>er <Action>(RenameElement)
map <leader>fr <Action>(RenameFile)
map <leader>fq <Action>(ShowIntentionActions)
map <leader>sa <Action>(ShowIntentionActions)
map <leader>fc za

map <leader>lc <Action>(CommentByLineComment)
map <leader>bc <Action>(CommentByBlockComment)

map <leader>ct <Action>(CloseContent)
map <leader>ts <Action>(HideAllWindows)
map <A--> <Action>(HideAllWindows)
map <leader>sc <Action>(GotoAction)

map <A-t> <Action>(ActivateTerminalToolWindow)
map <A-f> <Action>(ActivateProjectToolWindow)
map <leader>nt <Action>(ActivateProjectToolWindow)
map <A-g> <Action>(ActivateCommitToolWindow)

map <leader>fu <Action>(FindUsages)
map <leader>su <Action>(ShowUsages)
map <leader>vs <Action>(ViewSource)
map <leader>qi <Action>(QuickImplementations)
map <leader>qt <Action>(QuickTypeDefinition)
map <leader>et <Action>(ExpressionTypeInfo)
map <leader>oo <Action>(FileStructurePopup)
map <leader>ww <Action>(EditorToggleUseSoftWraps)
map <leader>nhl :nohlsearch<CR>

set NERDTree
map <leader>nt :NERDTree<CR>
